body {
	text-size-adjust: none;
	background-color: #8D99AE;
	margin: 0;
	font-family: decoy, verdana;
}
.navbar {
	user-select: none;
	background-color: #2B2D42;
	font-family: decoy,serif;
	font-weight: 700;
	font-style: normal;
}
.navbar ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}
.navbar li {
	text-align: center;
	list-style-type: none;
}
.navbar a,
.navbar button {
	border: none;
	border-right: #EDF2F4 solid 1px;
	padding: 10px;
	display: block;
	text-decoration: none;
	color: #EDF2F4;
	min-height: 80px;
	min-width: 80px;
}
.navbar a:hover,
.navbar a:focus {
	color: #EF233C;
	cursor: pointer;
}
.dropdowncontainer {
	position: relative;
	display: block;
}
.dropdowncontent {
	font-size: 32pt;
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	min-width: 250px;
}
.dropdowncontent a {
	border-bottom: #EDF2F4 1px solid;
	background-color: #2B2D42;
}
#firstdropdownlink {
	border-top: solid #EDF2F4 1px;
}
.dropdownshow {
	display: block;
}
.navbar #title {
	font-size: 12pt;
	border: none;
	border-left: #EDF2F4 solid 1px;
	margin-left: auto;
	margin-right: 0;
}
.maincontent {
	background-color: #8D99AE;
	margin: 100px 100px;
	text-align: center;
	color: #EDF2F4;
	user-select: none;
}
.maincontent div {
	padding: 10px;
}
.maincontent h1 {
	font-family: decoy,serif;
	font-weight: 700;
	font-style: normal;
	font-size: 64pt;
}

.maincontent {
	font-size: 32pt;
	font-family: decoy,serif;
	font-weight: 300;
	font-style: normal;
}
